/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap');

/* VARIABLES*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 16%);
  --clr-primary-2: hsl(205, 75%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 86%, 68%);
  --clr-primary-7: hsl(205, 83%, 75%);
  --clr-primary-8: hsl(205, 80%, 80%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* dark grey  */
  --clr-grey-background: hsl(211, 39%, 23%, 0.5);
  /* grey  */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: rgb(179, 34, 34);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 42%);
  --clr-green-light: hsl(125, 72%, 67%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  /* other */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* GLOBAL STYLES */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/* NAVBAR */

.navbar {
  height: 80px;
}

.navbar-wrapper {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar-item img {
  width: 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-center {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}


.navbar-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.navbar-icons {
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}


.cart-icon {
  position: relative;
}

.cart-icon span {
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--clr-primary-5);
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* FOOTER */

.footer {
  margin: 100px 150px 20px 150px
}

.footer-top {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.footer-item {
  width: 20%;
  font-size: 0.8rem;
}

.footer-item p {
  text-align: justify;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-bottom-left {
  display: flex;
  align-items: center;
}
.footer-bottom-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-bottom img {
  width: 10%;
  margin-right: 1rem;
}
.footer-bottom p {
  font-size: 0.7rem;
}

.footer-bottom-right img {
  width: 50%;
}

@media screen and (max-width: 1100px) {
  .footer-top {
    gap: 1rem;
  };
  .footer-item {
    width: 25%;
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 930px) {
  .footer {
    margin: 70px 80px 20px 80px
  }
}
@media screen and (max-width: 700px) {
  .no-mobile {
    display: none;
  };
}

