/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap');

/* VARIABLES*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 16%);
  --clr-primary-2: hsl(205, 75%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 86%, 68%);
  --clr-primary-7: hsl(205, 83%, 75%);
  --clr-primary-8: hsl(205, 80%, 80%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* dark grey  */
  --clr-grey-background: hsl(211, 39%, 23%, 0.5);
  /* grey  */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: rgb(179, 34, 34);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 42%);
  --clr-green-light: hsl(125, 72%, 67%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  /* other */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* GLOBAL STYLES */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: var(--ff-primary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

/* NAVBAR */

.navbar {
  height: 80px;
}

.navbar-wrapper {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
}

.navbar-item img {
  width: 30px;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-center {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}


.navbar-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.link {
  color: inherit;
  text-decoration: none;
}

.navbar-icons {
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}


.cart-icon {
  position: relative;
}

.cart-icon span {
  font-size: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--clr-primary-5);
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOMEPAGE */

/* SLIDER */

.slider {
  position: relative;
  height: calc(100vh - 80px);
  width: 100vw;
  overflow: hidden;
}
.slider-container {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1s ease;
}


.slider-container img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

.slider-icons {
  position: absolute;
  display: flex;
  bottom: 100px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
}

.slider-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-grey-8);
  cursor: pointer;
  margin: 5px;
}


/* FEATURED PRODUCTS */

.featuredProducts {
  margin: 100px 200px;
}

.featuredProducts-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.featuredProducts h1 {
  flex: 2;
  text-transform: capitalize;
  
}

.featuredProducts p {
  flex: 3;
  color: var(--clr-grey-5);
}

.featuredProducts-bottom {
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* CARD PRODUCT */

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px
}

.card-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.card-img:hover > .secondImg {
  z-index: 2;
}

.card-img img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  position: absolute;
}


.card-img span {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--clr-white);
  color: var(--clr-red-light);
  z-index: 3;
  font-weight: 500;
  padding: 2px 3px;
}

.mainImg {
  z-index: 1;
  
}

.card-prices {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card-prices h3{
  font-weight: 500;
  font-size: 1.2rem;
}

/* .card-prices h3:first-child {
  color: var(--clr-grey-4);
  text-decoration: line-through;
} */



/*  PRODUCTS */

.prducts-container {
  display: flex;
  padding: 30px 50px;
}

.products-left {
  flex: 1;
  position: sticky;
  top: 50px;
  height: 100%;
}
.products-right {
  flex: 3
}
.filterProduct {
  margin-bottom: 30px;
}

.filterProduct h2 {
  font-weight: 400;
  margin-bottom: 20px;
}

.inputProduct {
  margin-bottom: 10px;
}

.inputProduct label {
  margin-left: 10px;
}

.categoryImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 50px;
}

.list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* SINGLE PRODUCT */

.product-container {
  padding: 20px 50px;
  display: flex;
  gap: 50px;
}

.product-left {
  display: flex;
  flex: 1;
  gap: 20px;
  min-height: 500px;
}

.product-images {
  flex: 1
}

.product-images img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  cursor: pointer;
  margin-bottom: 10px;
}

.product-mainImg {
  flex: 5;
}
.product-mainImg img{
  width: 100%;
  max-height: 700px;
  object-fit: cover;
}

.product-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-price {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-primary-4);
}

.product-price  p {
  font-size: 1.2rem;
  text-align: justify;
  font-weight: 300;
}

.product-quantity button {
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.product-add {
  width: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.product-link {
  display: flex;
  gap: 20px;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.product-details hr {
  width: 200px;
}

/* CATEGORIES */

.categories-container {
  display: flex;
  height: 80vh;
  gap: 10px;
  margin: 10px;
}
.categories-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categories-column, .col-l {
  flex: 2;
} 

.categories-row {
  display: flex;
  position: relative;
  flex: 1;
  gap: 10px;
  overflow: hidden;
}

.categories-row button{
  position: absolute;
  width: fit-content;
  min-width: 100px;
  height: 50px;
  padding: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  border: none;
  text-transform: uppercase;

}

/* CART */

.cart-container {
  position: absolute;
  right: 0px;
  top: 80px;
  z-index: 99;
  background-color: var(--clr-grey-8);
  padding: 15px;
}

.cart-container h1 {
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}


.cart-item img{
  width: 80px;
  height: 100px;
  object-fit: cover;
}

.cart-details h2{
  font-size: 1rem;;
}

.cart-details p {
  margin-bottom: 10px
}

.cart-price {
  color: var(--clr-primary-4)
}

.cart-deleteIcon {
  color: var(--clr-red-dark);
  cursor: pointer;
  font-size: 1.2rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom:15px;
}

.cart-container button {
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.cart-summary {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cart-reset {
  color: var(--clr-red-dark);
  cursor: pointer;
}





